body{
    width: 95%;
    margin: 0 auto;
}
h1{
    text-transform: uppercase;
    font-family: sans-serif;
}
header{
    background: cornflowerblue;
    height: 50vh;
    font-size: 20px;
}


.menu{
    border: red solid 1px;
    text-align: end;

}

.menu ul li{
    background: red;
    opacity: 90%;
    padding: 10px 10px;
    display:inline-block;

}

.subtexto{
    display: inline-block;
    border: saddlebrown solid 1px;
    background: rebeccapurple;
}
