body{
  font-family: 'Exo', sans-serif;
}

.head{
  font-size: 24px;
  background: #4e54c8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 120px;
  width: 100%;
}

.sistemas{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  justify-content: center;
  height: 220px;
  border: 3px solid blue;
  
}

.sistemas1{
  display: flex;
  border: 3px solid blue;
  height: 150px;
  width: 450px;
  display: grid;
  justify-content: center;
  align-items: center;
}


.sistemas2{
  border: 3px solid blue;
  height: 150px;
  width: 450px;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* .grafana:hover,
.zabbix:hover,
.grafana .zabbix:focus {
  transform: scale(1.2);
} */

button {
  display: block;
  background-color:white;
  border: 3px solid #4e54c8;
  border-radius: 20px;
  width: 90px;
  color: #4e54c8;
}

button:hover{
  /* transform: scale(1.2); */
  border: 3px solid #4e54c8;
  background-color: #4e54c8;
  color: white;

}




  .conteudo{    
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: space-between; /* Distribui espaço uniformemente entre as colunas */
    gap: 1rem; /* Espaço entre as colunas */
    padding: 1rem;
    min-height: 100vh;
 
   
  }

  .conteudo a:link{
    color:black;
  }


  .conteudo a:visited{
    color:black;
  }

  .conteudo a:hover{
    background-color: aqua;
  }
  
    
    /* Core styles/functionality */
    .tab input {
      position: absolute;
      opacity: 0;
      z-index: -1;
      
      margin-top:100px;
    }
    .tab__content {
      max-height: 0;
      overflow: hidden;
      transition: all 0.35s;
      
      
      
    }
    .tab input:checked ~ .tab__content {
      max-height: 200rem;
      max-width: 650px;
      
    }

    .conteudo > section {
      flex: 1 1 calc(33.33% - 1rem); /* 33.33% da largura menos o gap */
      box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
      margin-bottom: 1rem; /* Espaço inferior entre as linhas */
      color: var(--primary);
      border: 3px solid blue; 
    
    /* Visual styles */
    .accordion {
      color: var(--theme);
      border: 2px solid;
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: #fff;
      border: 3px solid blue;
      width: 450px;
    }
    .tab__label,
    .tab__close {
      display: flex;
      color: white;
      background: #4e54c8;  
      background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
      cursor: pointer;
    }
    .tab__label {
      justify-content: space-between;
      padding: 1rem;
    }
    .tab__label::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transform: rotate(90deg);
      transition: all 0.35s;
    }
    .tab input:checked + .tab__label::after {
      transform: rotate(270deg);
    }
    .tab__content p {
      margin: 0;
      padding: 1rem;
    }

    .tab__content a {
      display: flex;
      border: 1px solid #000;
      margin: 1px;
      padding: 10px;
      border-radius: 5px
    }


    .tab__close {
      justify-content: flex-end;
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
    }
    .accordion--radio {
      --theme: var(--secondary);
    }
    
    /* Arrow animation */
    .tab input:not(:checked) + .tab__label:hover::after {
      animation: bounce .5s infinite;
    }
    @keyframes bounce {
      25% {
        transform: rotate(90deg) translate(.25rem);
      }
      75% {
        transform: rotate(90deg) translate(-.25rem);
      }
    }
    /*a {
      line-height: 1.5;
      margin-left: 30px;
      margin-right: 30px;
    }
    h1 {
      line-height: 1.5;
      margin-left: 30px;
    }
    */
    
      /* Estilos para tela de PC */
  @media only screen and (min-width: 768px) {
    .conteudo {
      display: flex;
      text-align: justify;
      
      /* Adicione as propriedades de grid que você precisa para a tela de PC */
    }
  }
  
  /* Estilos para tela de celular */
  @media only screen and (max-width: 767px) {
    .conteudo {
      display: glid;
      text-align: center;
    }

    .accordion{
      margin-top:100px;
    }

    h1 {
      font-size: 18px;
    }

    a{
      font-size: 16px;
      line-height: 2;
    }
  
  
  }